.btn-search { 
  color: #ffffff; 
  background-color: #EF6C00; 
  border-color: #EF6C00; 
} 
 
.btn-search:hover, 
.btn-search:focus, 
.btn-search:active, 
.btn-search.active, 
.open .dropdown-toggle.btn-search { 
  color: #ffffff; 
  background-color: #ff9100; 
  border-color: #EF6C00; 
} 
 
.btn-search:active, 
.btn-search.active, 
.open .dropdown-toggle.btn-search { 
  background-image: none; 
} 
 
.btn-search.disabled, 
.btn-search[disabled], 
fieldset[disabled] .btn-search, 
.btn-search.disabled:hover, 
.btn-search[disabled]:hover, 
fieldset[disabled] .btn-search:hover, 
.btn-search.disabled:focus, 
.btn-search[disabled]:focus, 
fieldset[disabled] .btn-search:focus, 
.btn-search.disabled:active, 
.btn-search[disabled]:active, 
fieldset[disabled] .btn-search:active, 
.btn-search.disabled.active, 
.btn-search[disabled].active, 
fieldset[disabled] .btn-search.active { 
  background-color: #EF6C00; 
  border-color: #EF6C00; 
} 
 
.btn-search .badge { 
  color: #EF6C00; 
  background-color: #ffffff; 
}

.navbar-center
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
}

.mlogo{
  text-align: center;
}
